{% extends 'home.html' %}
{% block main %}
    <i>Lists all cars from database</i>
    <br/>
    <br/>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Make</th>
            <th scope="col">Model</th>
            <th scope="col">Average rate</th>
            <th scope="col">Rate</th>
            <th scope="col">Vote</th>
        </tr>
        </thead>
        <tbody>
        <form action="/rate/" method="post" id="voteForm">
            <input type="hidden" id="car_id" name="car_id">
            <input type="hidden" id="rate" name="rate">
            {% csrf_token %}
        </form>
{#        {% for car in cars %}#}
{#            <tr>#}
{#                <th scope="row">{{ forloop.counter }}</th>#}
{#                <td>{{ car.make }}</td>#}
{#                <td>{{ car.model }}</td>#}
{#                <td>{{ car.average }}</td>#}
{##}
{#                <td>#}
{#                    <select class="form-control" id="selectForm{{ car.pk }}" name="rate">#}
{#                        <option>1</option>#}
{#                        <option>2</option>#}
{#                        <option>3</option>#}
{#                        <option>4</option>#}
{#                        <option>5</option>#}
{#                    </select>#}
{#                </td>#}
{#                <td>#}
{#                    <button class="btn btn-success" onClick="handleVote({{ car.pk }})">Vote</button>#}
{#                </td>#}
{#            </tr>#}
{#        {% endfor %}#}
        </tbody>
    </table>

    <script>
        function handleVote(id) {
            const rate = document.getElementById('selectForm' + id).value;
            document.getElementById('car_id').value = id;
            document.getElementById('rate').value = rate;
            const form = document.getElementById('voteForm');
            form.submit();
        }
    </script>

{% endblock %}
